language: go

sudo: false

go:
    - 1.6
    - 1.7
    - 1.8
    - 1.9

services:
    - redis-server

before_install:
    - go get github.com/axw/gocov/gocov
    - go get github.com/mattn/goveralls
    - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi

script:
    - $HOME/gopath/bin/goveralls -service=travis-ci
