<?xml version="1.0" encoding="UTF-8" ?>
<root>
    <twitter>
        <consumer-key>CONSUMER-KEY</consumer-key>
        <consumer-secret>CONSUMER-SECRET</consumer-secret>
        <access-token>ACCESS-TOKEN</access-token>
        <access-token-secret>ACCESS-TOKEN-SECRET</access-token-secret>
    </twitter>
    <redis>
        <url>127.0.0.1:6379</url>
        <auth></auth>
    </redis>
</root>
